h3 {
    font-family: "Lucida Console", monospace;
}



a {
color: white;

}

.Top_page {
  font-family: "Times New Roman", Times, serif;
  width: 100%;
  height: auto;
  margin: 0;
  position:static;
  top: 0;
  text-align: center;
  background-color: rgb(0, 0, 0);
}

  header li {
    font-size: 20px;
    margin-left: 1%;
    line-height: 10px; 
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-block;
    text-align: center ;
  }

  .h3 {
    display: block;
    width: auto;
    height: 50%;
    margin: left;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 10px;
  }

  footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #ccc;
    padding: 10px; 
}

